 <h2> <%= @event.name %> </h2> <br>

Sale Date: <%= @event.sale_start_date %> <br>
Start Date: <%= @event.start_date %> <br>
Venue: <%= link_to @event.venue.name, @event.venue %> <br>

Attractions: <br>
<% @event.attractions.each do |attr| %>
    <%= link_to attr.name, attr %> <br>
    <%end%>






<%= form_tag "/tickets/new", method: :get do %>
<%= hidden_field_tag 'id', @event.id %>
<%= button_tag "See tickets", class: "btn img-rounded bg-primary text-light mx-5 px-5" %>
<% end %>
