 <h2> <%= @event.name %> </h2> <br>
 
Sale Date: <%= @event.sale_date %> <br>
Start Date: <%= @event.start_date %> <br>
Venue: <%= link_to @event.venue.name, @event.venue %> <br>

Attractions: <br>
<% @event.attractions.each do |attr| %>
    <%= link_to attr.name, attr %> <br>
    <%end%>
