<!DOCTYPE html>
<html>
  <head>
    <title>MyEvents</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="nav navbar  bg-dark text-light">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <%= link_to "Home", root_url %>
        </div>



        <div class="col-sm">

          <form action="/search">
            <input name="format" placeholder="Music, Sports, Arts & Theatre">
            <input type="submit" value="search" >
          </form>

        </div>

        <div class="col-sm">

          <div class="dropdown">
            <button class="btn bg-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Account
            </button>
            <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton">

              <% if loggedin? %>
              <%= button_to "Log out", logout_path, class: "btn img-rounded bg-primary text-light mx-5 px-5", method: :delete %>
              <% else %>
              <%= button_to "Sign In", login_path, class: "btn img-rounded bg-primary text-light mx-5 px-5", method: :get %>
              <% end %>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>





<!-- second nav bar below -->

  <div class="nav navbar bg-secondary">

    <% if loggedin? %>
    Hello <%= current_user.first_name %>!
    <% end %>


    Music
    Sports
    Arts & Theatre
    Family

    <% Attraction.all.any? do |att| %>
      <% if current_page?(attraction_path(att)) %>
        <%= link_to "All Attractions", attractions_path, class: "text-light" %>
      <% end %>
    <% end %>

    <% Event.all.each do |att| %>
      <% if current_page?(event_path(att)) %>
        <%= link_to "All Events", events_path, class: "text-light" %>
      <% end %>
    <% end %>

    <% Venue.all.each do |att| %>
      <% if current_page?(venue_path(att)) %>
        <%= link_to "All Venues", venues_path, class: "text-light" %>
      <% end %>
    <% end %>


    <!-- <%= form_tag ({controller: 'search', action: 'results', method: 'post'}) do %>
    <%= text_field_tag(:format) %>
    <input type=submit value='search'>
    <% end %> -->

    <form action="/search">
      <input name="format" />
      <input type="submit" value="search">
    </form>




  <body>
    <%= yield %>
  </body>
</html>
