<!DOCTYPE html>
<html>
  <head>
    <title>MyEvents</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="nav bar", #nav>
    <%= link_to "Home", root_url %>

    <% Attraction.all.any? do |att| %>
      <% if current_page?(attraction_path(att)) %>
        <%= link_to "All Attractions", attractions_path %>
      <% end %>
    <% end %>

    <% Event.all.each do |att| %>
      <% if current_page?(event_path(att)) %>
        <%= link_to "All Events", events_path %>
      <% end %>
    <% end %>

    <% Venue.all.each do |att| %>
      <% if current_page?(venue_path(att)) %>
        <%= link_to "All Venues", venues_path %>
      <% end %>
    <% end %>


    <!-- <%= form_tag ({controller: 'search', action: 'results', method: 'post'}) do %>
    <%= text_field_tag(:format) %>
    <input type=submit value='search'>
    <% end %> -->

    <form action="/search">
      <input name="format" />
      <input type="submit" value="search">
    </form>

  </div>



  <body>
    <%= yield %>
  </body>
</html>
